body {
	background-image: url("../images/banner.png"), url("../images/banner-repeat.png"), url("../images/bg.png");
	background-repeat: no-repeat, repeat-x, repeat;
	background-position: left top, center top;
	background-color: #fefaed;
}
.clickableRow {
	cursor: pointer;
}
#logoarea {
	margin-bottom: 19px;
	margin-top:10px;
	padding-left:0px;
}

#navbar {
	z-index:-1;
}
#content {
	padding:30px;
	padding-top: 5px;
	background-color:#ffffff;
	box-shadow:0px 2px 2px 2px #d7ebff;
}
.center-y {
    display:table-cell;
    vertical-align:middle;
    float:none;
}
.item-thumbnail {
	position: relative;
	width: 96px;
	height:96px;
	vertical-align: middle;
	overflow: hidden;
}
.item-thumbnail img{
    position: absolute;
    top:-100%; left:0; right: 0; bottom:-100%;
    margin: auto;
}
.item-container {
	height: 250px;
}
.jumbotron {
    margin-bottom: 0px;
    background-image: url("../images/jumbo-intro.png");
    background-size: cover;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    color: white;
}
#userpanel {
	padding-top: 10px;
	background-color: rgb(0, 40, 75);
	background-color: rgba(0, 40, 75, 0.4);
	box-shadow: 0px 2px 3px rgba(0,0,0,0.6);
	font-size: 11px;
	color: #fff;
	height:100px;
	width:140px;
	margin-right: 0px;
}
#userpanel a {
	color: #bdefff;
}

#footer {
	text-align: center;
	font-size: 12px;
	color: #BBB;
	padding-top: 5px;
	border-top: 1px solid #eee;
}
#footer a {
	color: #c9e5ff;
}
#footer a:hover {
	color: #9acaf7;
}

.itemnotes ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.table tbody tr > td.success {
  background-color: #dff0d8 !important;
}

.table tbody tr > td.error {
  background-color: #f2dede !important;
}

.table tbody tr > td.warning {
  background-color: #fcf8e3 !important;
}

.table tbody tr > td.info {
  background-color: #d9edf7 !important;
}

.table-hover tbody tr:hover > td.success {
  background-color: #d0e9c6 !important;
}

.table-hover tbody tr:hover > td.error {
  background-color: #ebcccc !important;
}

.table-hover tbody tr:hover > td.warning {
  background-color: #faf2cc !important;
}

.table-hover tbody tr:hover > td.info {
  background-color: #c4e3f3 !important;
}

